.container
    h3(style="display:inline;") Groups
    ul.nav.justify-content-center
        li.nav-item
            a.nav-link(href='/contacts/add') Add Contacts
        li.nav-item
            a.nav-link(href='/groups/add') Add group
