extends layout

block content
  div.text-center
    img(src="/images/logo.png")

  br
  br
  p.text-center.lead A mass notification and planning platform.
  div.text-center.mt-5.mb-3
      button.btn.btn-success(onclick="window.location = '/sms'")
        i.fas.fa-share-alt.fa-md
        | Send a message
  hr.my-5
  .row.mt-5
    .col-md-4.text-center
      h2.text-success SMS
        i.fa.fa-comment.px-3
      p
        a(href='/messages' style='decoration:none;') Send notifications to a group
    .col-md-4.text-center
      h2.text-primary Email
        i.fa.fa-mail-bulk.px-3
      p Send notifications to a group
    .col-md-4.text-center
      h2.text-warning USSD
        i.fa.fa-phone.px-3
      p USSD to check your classes

  hr.my-5
  .row

