footer.border-top
  .container.text-center
    p.float-left © 2019 Que Base Tech. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/mictecttu/bluster-admin') GitHub Project
