include ../layout
include ./contact

block content
    .container
        .pb-2.mt-2.mb-4.border-bottom
            h3 New Contact
        form(id='signup-form', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='fullName') Full name :
                .col-md-7
                    input.form-control(type='text', name='name', id='fullName', placeholder='Jane Doe', autofocus, required)
            .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email :
                .col-md-7
                    input.form-control(type='email', name='email', id='email', placeholder='janedoe@gmail.com', autofocus, autocomplete='email', required)
            .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='phoneNumber') Phone Number :
                .col-md-7
                    input.form-control(type='number', name='phoneNo', id='phoneNumber', placeholder='+254784020300', required)
            .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='registrationNumber') Registration Number :
                .col-md-7
                    input.form-control(type='text', name='registrationNumber', id='registrationNumber', placeholder='TU01-SC211-0465/2014', required)
            .form-group.row
                label.col-md-3.col-form-label.font-weight-bold.text-right(for='course') Course :
                .col-md-7
                    select.form-control(name='course', id='course', required)
                        each course in courses
                            option(value=course._id) #{course.name}
            .form-group.offset-sm-3.col-md-7.pl-2
                button.btn.btn-success(type='submit')
                    i.fas.fa-user-plus.fa-sm
                    | Add
