.container
    h3(style="display:inline;") Contacts
    ul.nav.justify-content-center
        li.nav-item
            a.nav-link(href='/contacts/add') Add Contacts
        li.nav-item
            a.nav-link(href='/contacts/group') Add group
